/* COVER SECTION */
body {
  background-color: #ddd;
}

.carousel-slides {
  position: relative;
  height: 51.2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.portfolio-section {
  background-color: #fff;
  padding: 10rem 0 10rem 0;
}
.carousel-btns {
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
  gap: 2.5rem;
  margin-top: 7rem;
}
.carousel-btns p {
  max-width: 16rem;
  text-align: center;
  color: #000;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  padding: 2.4rem;
}
.btm-line {
  position: absolute;
  bottom: 0;
  height: 0.5rem;
  width: 100%;
  display: block;
  background-color: #6ab6f9;
  transition: all 0.4s;
  opacity: 0;
}
.btm-show {
  opacity: 1;
}

.carousel-main {
  width: 100%;
  transition: all ease-in-out 0.4s;
  position: absolute;
  z-index: 99;
  padding: 10rem 8rem;
  background: rgb(166, 215, 163);
  background: linear-gradient(
    90deg,
    rgba(166, 215, 163, 1) 0%,
    rgba(64, 192, 195, 1) 100%
  );
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 20%,
    100% 80%,
    90% 100%,
    10% 100%,
    0 80%,
    0 20%
  );
}

.carousel-list {
  color: #fff;
  font-size: 2.5rem;
  grid-column: 2 / 3;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.carousel-list li {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.carousel-list li::before {
  content: "";
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid #000;
  border-radius: 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: #479ccd;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 999;
}

.carousel-btn.right {
  right: 1%;
}
.carousel-btn.left {
  left: 1%;
}
.carousel-btn:hover {
  background-color: #fff;
  border: 1px solid #000;
}

.carousel-arrow {
  height: 3rem;
  padding: 1rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.slide--1 {
  position: absolute;
  left: 0;
}

.card-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px 10px rgba(3, 0, 0, 0.114);
  transition: all 0.3s;
}

.card-box:hover {
  transform: translateY(-3%);
  cursor: pointer;
}

.name {
  color: #000;
  font-weight: 800;
  font-size: 2.4rem;
  padding: 3px;
}

.category {
  font-size: 1.8rem;
  color: #aaa;
  margin-top: 0.5rem;
  padding: 3px;
}

.card-img {
  width: 100%;
  height: 25rem;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

.btm-line {
  border-radius: 1.7rem;
  background: rgb(166, 215, 163);
  background: linear-gradient(
    90deg,
    rgba(166, 215, 163, 1) 0%,
    rgba(64, 192, 195, 1) 100%
  );
}

.btm-line {
  transform: translateX(-8%);
}
